/*adding transitions to images.*/

#image-container img:hover {
opacity: 0.5;
filter: alpha(opacity=50);
}

#image-container {
  opacity: 0;
}

#image-container.Fadein {
  opacity: 1;
  transition: opacity .25s;
}






#reloadbutton:hover {
  color: red;
}
#reloadbutton {
  transition: color .25s;

}
