@import url('https://fonts.googleapis.com/css?family=Sanchez');


h1 {
  font-size: 30px;
  text-align: center;
  font-family: 'Sanchez', sans-serif;

}
h2 {
  text-align: center;
  font-style: italic;
}

header {

  CSSSASS
  knob
  background: rgba(130,210,232,1);
  background: -moz-linear-gradient(left, rgba(130,210,232,1) 19%, rgba(110,201,226,1) 29%, rgba(69,183,214,1) 49%, rgba(51,175,209,0.87) 58%, rgba(11,158,205,0.42) 89%, rgba(0,153,204,0.42) 98%, rgba(0,153,204,0.42) 100%);
  background: -webkit-gradient(left top, right top, color-stop(19%, rgba(130,210,232,1)), color-stop(29%, rgba(110,201,226,1)), color-stop(49%, rgba(69,183,214,1)), color-stop(58%, rgba(51,175,209,0.87)), color-stop(89%, rgba(11,158,205,0.42)), color-stop(98%, rgba(0,153,204,0.42)), color-stop(100%, rgba(0,153,204,0.42)));
  background: -webkit-linear-gradient(left, rgba(130,210,232,1) 19%, rgba(110,201,226,1) 29%, rgba(69,183,214,1) 49%, rgba(51,175,209,0.87) 58%, rgba(11,158,205,0.42) 89%, rgba(0,153,204,0.42) 98%, rgba(0,153,204,0.42) 100%);
  background: -o-linear-gradient(left, rgba(130,210,232,1) 19%, rgba(110,201,226,1) 29%, rgba(69,183,214,1) 49%, rgba(51,175,209,0.87) 58%, rgba(11,158,205,0.42) 89%, rgba(0,153,204,0.42) 98%, rgba(0,153,204,0.42) 100%);
  background: -ms-linear-gradient(left, rgba(130,210,232,1) 19%, rgba(110,201,226,1) 29%, rgba(69,183,214,1) 49%, rgba(51,175,209,0.87) 58%, rgba(11,158,205,0.42) 89%, rgba(0,153,204,0.42) 98%, rgba(0,153,204,0.42) 100%);
  background: linear-gradient(to right, rgba(130,210,232,1) 19%, rgba(110,201,226,1) 29%, rgba(69,183,214,1) 49%, rgba(51,175,209,0.87) 58%, rgba(11,158,205,0.42) 89%, rgba(0,153,204,0.42) 98%, rgba(0,153,204,0.42) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82d2e8', endColorstr='#0099cc', GradientType=1 );
}

body {
  background: rgba(219,219,219,1);
  background: -moz-linear-gradient(left, rgba(219,219,219,1) 0%, rgba(212,212,212,1) 25%, rgba(204,204,204,1) 51%, rgba(247,247,247,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(219,219,219,1)), color-stop(25%, rgba(212,212,212,1)), color-stop(51%, rgba(204,204,204,1)), color-stop(100%, rgba(247,247,247,1)));
  background: -webkit-linear-gradient(left, rgba(219,219,219,1) 0%, rgba(212,212,212,1) 25%, rgba(204,204,204,1) 51%, rgba(247,247,247,1) 100%);
  background: -o-linear-gradient(left, rgba(219,219,219,1) 0%, rgba(212,212,212,1) 25%, rgba(204,204,204,1) 51%, rgba(247,247,247,1) 100%);
  background: -ms-linear-gradient(left, rgba(219,219,219,1) 0%, rgba(212,212,212,1) 25%, rgba(204,204,204,1) 51%, rgba(247,247,247,1) 100%);
  background: linear-gradient(to right, rgba(219,219,219,1) 0%, rgba(212,212,212,1) 25%, rgba(204,204,204,1) 51%, rgba(247,247,247,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#f7f7f7', GradientType=1 );}
  .canvasjs-chart-canvas:first-child {
    position: static !important;

  }

  #image-container {
    display: flex;
    justify-content: space-around;
    padding-right: 10px;
    border:1px solid #;
    border-radius: 20px;
    border-radius: 20px;
    border-radius: 20px;
  }

  #image-container img{
    height: 300px;
    border-style: inset;
    border-width: 3px;
    border:1px solid #;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border-color: #0099CC;

  }


  #progressBar {
    width: 90%;
    height: 10px;
    margin-left: 50px;
    border-radius: 1px;

  }

  #progressBar::-webkit-progress-value {
    background-color: #0099CC;

  }
  #progressBar::-webkit-progress-bar {
    background: rgba(219,219,219,1);
    background: -moz-linear-gradient(left, rgba(219,219,219,1) 0%, rgba(212,212,212,1) 25%, rgba(204,204,204,1) 51%, rgba(247,247,247,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(219,219,219,1)), color-stop(25%, rgba(212,212,212,1)), color-stop(51%, rgba(204,204,204,1)), color-stop(100%, rgba(247,247,247,1)));
    background: -webkit-linear-gradient(left, rgba(219,219,219,1) 0%, rgba(212,212,212,1) 25%, rgba(204,204,204,1) 51%, rgba(247,247,247,1) 100%);
    background: -o-linear-gradient(left, rgba(219,219,219,1) 0%, rgba(212,212,212,1) 25%, rgba(204,204,204,1) 51%, rgba(247,247,247,1) 100%);
    background: -ms-linear-gradient(left, rgba(219,219,219,1) 0%, rgba(212,212,212,1) 25%, rgba(204,204,204,1) 51%, rgba(247,247,247,1) 100%);
    background: linear-gradient(to right, rgba(219,219,219,1) 0%, rgba(212,212,212,1) 25%, rgba(204,204,204,1) 51%, rgba(247,247,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#f7f7f7', GradientType=1 );}
    .canvasjs-chart-canvas:first-child {
      position: static !important;
    }

    #progressBar::-moz-progress-value {
      background-color: #0099CC;
    }


    .hide {
      display:none;


    }
    #reloadbutton {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      font-size: 20px;
      border-radius: 9px;
      font-family: 'Sanchez', sans-serif;
      color: #42a7f4 ;
      padding: 10px;
      text-align: center;
      margin: auto;
    }
